@import url("normalize.css");
@import url("inter.css");

:root {
	font-size: 16px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #111;
}

a {
	color: #124ba1;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	text-decoration-line: underline;
}

.container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	position: relative;
	margin-right: 55px;
}

main {
	display: flex;
	flex-direction: column;
}

main section {
	text-align: center;
}

section {
	padding: 6rem 0 8rem 0;
	width: 100%;
}

footer {
	padding: 6rem 0;
	width: 100%;
	background-color: #eee;
}

footer a {
	display: flex;
	justify-content: center;
}

header {
	background-image: url("https://assets.codepen.io/10304315/hero-img.webp");
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	min-height: 100vh;
	background-position: top;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

aside {
	border-right: 2px solid #222;
	border-left: 2px solid #222;
	background: linear-gradient(180deg, #111 0%, #333 100%);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	position: fixed;
	min-height: 100vh;
	right: 0;
	top: 0;
}

svg {
	width: 100%;
}

h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	text-align: center;
	color: #eee;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-family: "Inter", sans-serif;
	font-weight: 500;
	line-height: 125%;
	/* 40px */
	font-size: 2.5rem;
}

h1 span {
	color: #eee;
	font-family: "Inter", sans-serif;
	font-size: 4.25rem;
	font-weight: 900;
	line-height: 125%;
}

.logo,
.ui {
	text-align: center;
	padding: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.logo {
	background: linear-gradient(180deg, #eee 0%, #aaa 100%);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	font-weight: 700;
	font-style: italic;
	z-index: 2;
	text-decoration: none;
	color: #111;
	font-size: 18px;
}

.ui {
	background: linear-gradient(180deg, #124ba1 0%, #0c316a 100%);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	z-index: 1;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
	fill: #eee;
	padding: 1.15rem 0;
	color: #eee;
	font-weight: 600;
	letter-spacing: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.aside-top-nav {
	position: sticky;
	top: 0;
}

.aside-bottom-nav {
	position: sticky;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	top: calc(100vh - 113px);
}

.bottom-nav-wrapper {
	position: sticky;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 0.25rem;
	margin-bottom: -6.2rem;
}

.bottom-nav-wrapper span:hover {
	cursor: help;
}

.divider {
	border-top: 2px solid #0d3573;
	border-bottom: 2px solid #0d3573;
	background: linear-gradient(180deg, #124ba1 0%, #0c316a 100%);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5px;
	z-index: 10;
}

.header-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.section-intro {
	background-color: #111;
	color: #eee;
}

.section-heading-wrapper svg {
	width: 60px;
	height: 60px;
	margin-top: 2px;
}

.section-heading-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	font-size: 3rem;
	font-weight: 900;
	position: relative;
	z-index: 1;
}

h2 {
	font-weight: 900;
	font-size: 4rem;
}

p {
	line-height: 1.75rem;
	font-size: 18px;
	color: #ccc;
}

button {
	font-size: 18px;
}

h3 {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 2rem;
}

h3 .heading-span {
	font-weight: 400;
	font-size: 1rem;
	color: #aaa;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-top: 0.2rem;
}

.text-gradient {
	background: linear-gradient(180deg, #ccc 50%, #aaa 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.idk-icon img {
	width: 20px;
	height: auto;
	margin-top: 0.5rem;
}

.intro-p {
	max-width: 768px;
	margin: 0 auto;
	text-align: justify;
}

.section-intro .avatar {
	margin: 0 auto;
}

.section-core-services {
	text-align: center;
	background-color: #eee;
	color: #111;
}

.section-core-services h2 {
	color: #111;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-family: "Inter";
	font-weight: 900;
	line-height: 54px;
	/* 84.375% */
}

.btn-wrap {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.btn-primary {
	border-radius: 0.5rem;
	border: 2px solid #0d3573;
	background: linear-gradient(180deg, #124ba1 0%, #0c316a 100%);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	padding: 1rem;
	cursor: pointer;
	color: #eee;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-family: Inter;
	font-weight: 600;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 225px;
}

.btn-primary i,
.btn-secondary i,
.btn-secondary-dark i {
	margin-right: 0.75rem;
}

header .btn-primary {
	max-width: 250px;
	padding: 1.25rem 1.25rem 1.15rem 1.25rem;
}

.btn-secondary {
	border-radius: 8px;
	border: 2px solid #aaa;
	background: linear-gradient(180deg, #eee 0%, #aaa 100%);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	padding: 1rem;
	cursor: pointer;
	color: #eee;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-family: Inter;
	font-weight: 600;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 225px;
	color: #111;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-family: "Inter";
	font-weight: 600;
}

.btn-secondary-dark {
	padding: 1rem;
	cursor: pointer;
	color: #eee;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-family: Inter;
	font-weight: 600;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 225px;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-family: "Inter";
	font-weight: 600;
	border-radius: 8px;
	border: 2px solid #111;
	background: linear-gradient(180deg, #333 0%, #111 100%);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.bg-blue-grad {
	border-top: 2px solid #0d3573;
	border-bottom: 2px solid #0d3573;
	background: linear-gradient(180deg, #124ba1 0%, #0c316a 100%);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	margin-top: 60px;
	position: relative;
	z-index: 0;
}

.bg-black-grad {
	border-right: 2px solid #222;
	border-left: 2px solid #222;
	background: linear-gradient(90deg, #111 0%, #333 100%);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 5rem 0 5rem 10rem;
	text-align: left;
	position: relative;
	z-index: 1;
	min-height: 325px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

.services-list {
	color: #ccc;
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	text-transform: uppercase;
	position: relative;
	z-index: 10;
}

.services-list svg {
	position: absolute;
	width: 50px;
	left: -0.5rem;
	top: 1.75rem;
}

.services-list>li>i {
	font-size: 1.5rem;
}

.services-list i {
	font-size: 1.25rem;
}

.services-list>li {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	color: #ccc;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-family: Inter;
	font-weight: 700;
	font-size: 1.25rem !important;
	text-transform: uppercase;
}

.services-list>li>i {
	color: #f5a418;
}

.services-list-lvl-1 {
	margin-left: 2rem;
	list-style: none;
	display: flex;
	gap: 1.25rem;
	flex-direction: column;
	text-transform: uppercase;
	margin-top: .75rem;
}

.services-list-lvl-1 li {
	color: #ccc;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	font-family: Inter;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1rem;
}

.services-list-lvl-1 li i {
	margin-right: 0.75rem;
}

.services-list-lvl-1 li:nth-of-type(3) i {
	margin-right: 0.85rem;
}

.services-list-lvl-1 li:nth-of-type(1) {
	margin-left: 4px;
}

.services-list-lvl-1 li:nth-of-type(2) i {
	color: #f02b11;
}

.services-list-lvl-1 li:nth-of-type(3) i {
	color: #1abcfe;
}

.services-list-lvl-1 li:nth-of-type(1) i {
	color: #8834fe;
}

.services-list-lvl-1 li:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	gap: 0;
	margin-left: 2px;
	width: 295px;
}

.services-list-lvl-1 li:nth-of-type(2) i {
	margin-right: 10px;
}

.services-list-lvl-1 li:nth-of-type(3) {
	margin-left: 6px;
}

.services-list-lvl-1 li i:nth-of-type(2) {
	margin-left: 0.75rem;
	color: #999;
	filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.services-list-lvl-1 li i:nth-of-type(2):hover {
	cursor: help;
}

.services-copy-wrapper {
	max-width: 768px;
	margin: 0 auto;
	text-align: left;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
}

.services-copy-wrapper p {
	color: #222;
}

.services-copy-wrapper p span {
	font-weight: 400;
}

.services-copy-wrapper p:nth-of-type(2) {
	margin-top: 2rem;
	font-weight: 600;
}

.services-copy-wrapper h3 {
	text-transform: none;
	margin-top: 3.25rem;
	font-weight: 700;
	text-align: center;
}

.bg-black-grad img {
	max-width: 100%;
	width: 768px;
	position: absolute;
	right: -7.9rem;
	top: -9rem;
	z-index: 2;
}

.google-booking-iframe {
	margin-top: 4rem;
	display: none;
	padding-top: 4rem;
}

.contact-form {
	margin-top: 4rem;
	padding: 4rem 1rem 0 1rem;
	display: none;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	max-width: 450px;
	width: 100%;
	margin: 4rem auto 0rem auto;
}

.contact-form p {
	margin-bottom: 1rem;
}

form button {
	margin-top: 0.5rem;
	border-radius: 0.25rem;
	padding: 1.25rem 1rem;
	cursor: pointer;
	text-align: center;
	font-family: Inter;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #111;
	border: 1px solid #afafaf;
	font-size: 1rem;
	color: #eee;
}

input,
textarea {
	width: 100%;
	padding: 1.25rem 1rem;
	border-radius: 0.25rem;
	border: none;
	font-family: Inter;
	border: 1px solid #afafaf;
}

textarea {
	min-height: 150px;
}

.result {
	display: none;
	max-width: 300px;
	margin: 4rem auto 0rem auto;
	text-align: center;
}

footer p {
	text-align: center;
	color: #666;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	margin-bottom: 2rem;
}

.section-posts {
	display: none;
}

button>svg {
	width: auto;
	margin-right: .5rem;
}

@media (max-width: 1200px) {
	.bg-black-grad {
		border-right: none;
		border-left: none;
		background: linear-gradient(90deg, #111 0%, #333 100%);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		padding: 4rem 0;
		text-align: left;
		position: relative;
		z-index: 1;
		min-height: 325px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.bg-black-grad img {
		max-width: 100%;
		width: 100%;
		position: relative;
		margin-right: -6.9rem;
		margin-top: -6rem;
		z-index: 2;
		min-width: 100vw;
	}

	.services-list {
		margin-top: -19rem;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-right: 0;
	}

	.services-list li {
		font-size: 1rem;
		flex-direction: row;
		display: flex;
	}

	.services-list svg {
		display: none;
	}

	.services-list-lvl-1 {
		flex-direction: row;
		font-size: 14px;
		margin-left: 0;
	}

	.services-list i {
		font-size: 1rem;
	}

	.services-list-lvl-1 li:nth-of-type(2) {
		width: 287px;
	}
}

@media (max-width: 1024px) {
	.services-list {
		flex-direction: column;
	}

	.bg-black-grad img {
		margin-top: -6rem;
		margin-right: -3.9rem;
	}
}

@media (max-width: 968px) {
	.bg-black-grad img {
		margin-top: -4rem;
	}
}

@media (max-width: 868px) {
	.bg-black-grad img {
		margin-top: -3rem;
		margin-right: -0.9rem;
	}

	.services-list {
		margin-top: -17rem;
	}

	h1 {
		font-size: 2rem;
	}

	h1 span {
		font-size: 3.75rem;
	}

	.intro-p {
		max-width: 600px;
	}

	.services-copy-wrapper p {
		max-width: 600px;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.services-list-lvl-1 {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.services-list {
		gap: 1rem;
		margin-top: -16rem;
	}

	.bg-black-grad img {
		margin-top: -2rem;
		margin-right: 1.1rem;
	}

	h1 {
		font-size: 1.75rem;
	}

	h1 span {
		font-size: 3rem;
	}

	.header-wrapper {
		gap: 0.5rem;
	}

	.container {
		margin-right: 0;
	}

	aside {
		border-top: 2px solid #222;
		border-bottom: 2px solid #222;
		border-left: none;
		border-right: none;
		position: fixed;
		min-width: calc(100vw - 1rem);
		min-height: fit-content;
		right: 0;
		left: 0;
		top: auto;
		bottom: 0;
		z-index: 1;
		display: flex;
		justify-content: space-between;
	}

	.vet-icon {
		margin-bottom: 0;
		margin-right: 1rem;
	}

	.work-icon {
		margin-bottom: 0;
	}

	.logo,
	.ui {
		text-align: center;
		padding: .5rem 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	.logo {
		background: linear-gradient(180deg, #eee 0%, #aaa 100%);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
		font-weight: 700;
		font-style: italic;
		z-index: 2;
		text-decoration: none;
		color: #111;
		font-size: 18px;
	}

	.ui {
		background: linear-gradient(180deg, #124ba1 0%, #0c316a 100%);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
		z-index: 1;
		text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
		filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
		fill: #eee;
		padding: .5rem 1rem;
		color: #eee;
		font-weight: 600;
		letter-spacing: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

	}

	.aside-top-nav {
		position: sticky;
		top: 0;
		display: flex;
		width: fit-content;
		order: 2;
	}

	.aside-bottom-nav {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		top: auto;
		width: fit-content;
		margin-left: .5rem;
	}

	.bottom-nav-wrapper {
		position: sticky;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		gap: 0.25rem;
		margin-bottom: 0;
	}

	footer {
		margin-bottom: 51px;
	}

	h2 {
		font-size: 3rem;
	}
}

@media (max-width: 668px) {
	.bg-black-grad img {
		margin-top: -1rem;
		margin-right: 3.1rem;
	}

	.services-list {
		margin-top: -15rem;
	}

	h1 {
		font-size: 1.5rem;
	}

	h1 span {
		font-size: 2.5rem;
	}

	.btn-primary,
	.btn-secondary,
	.btn-secondary-dark {
		max-width: 225px;
		padding: 1rem;
		font-size: 1rem;
	}

	.intro-p {
		max-width: 500px;
	}

	.services-copy-wrapper p {
		max-width: 500px;
	}

	h3 {
		font-size: 1.25rem;
	}

	h3 .heading-span {
		font-size: 14px;
	}
}

@media (max-width: 600px) {
	.bg-black-grad img {
		margin-top: 1rem;
		margin-right: 5.1rem;
	}

	.services-list {
		margin-top: -14rem;
	}

	h1 {
		font-size: 1.25rem;
	}

	h1 span {
		font-size: 2rem;
	}

	.intro-p {
		max-width: 400px;
	}

	.services-copy-wrapper p {
		max-width: 400px;
	}

	h3 {
		font-size: 1.1rem;
	}

	p {
		font-size: 1rem;
	}

	.btn-wrap {
		flex-direction: column;
	}

	.btn-primary, .btn-secondary, .btn-secondary-dark {
		width: 100%;
		max-width: 400px;
	}
}

@media (max-width: 500px) {
	.bg-black-grad img {
		margin-top: 2rem;
		margin-right: 7.1rem;
	}

	.services-list {
		margin-top: -12rem;
	}

	.intro-p {
		max-width: 350px;
	}

	.services-copy-wrapper p {
		max-width: 350px;
	}

	.btn-primary, .btn-secondary, .btn-secondary-dark {
		max-width: 350px;
	}

	h2 {
		font-size: 2.5rem;
	}
}

@media (max-width: 450px) {
	.bg-black-grad img {
		margin-top: 3rem;
		margin-right: 8.1rem;
	}
}

@media (max-width: 375px) {
	.bg-black-grad img {
		margin-top: 3.5rem;
		margin-right: 9.1rem;
	}

	.services-list-lvl-1 li:nth-of-type(2) {
		width: 287px;
	}
}